## Cadenas

In [3]:
fact = "La luna no es una atmosfera"
fact + ". No hay sonido en la Luna"

'La luna no es una atmosfera. No hay sonido en la Luna'

In [8]:
two_facts = fact + ' . "No sound can be heard on the Moon".'
two_facts

'La luna no es una atmosfera . "No sound can be heard on the Moon".'

In [9]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [10]:
'The "near side" is the part of the Moon that faces the Earth'

'The "near side" is the part of the Moon that faces the Earth'

In [11]:
"We only see about 60% of the Moon's surface"

"We only see about 60% of the Moon's surface"

In [13]:
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

In [19]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [31]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [27]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [60]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [78]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [33]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [35]:
"Pescado" in "El el rio encontre nuevas especies de animales"

False

In [34]:
'Moon' in 'This text will describe facts about the Moon'

True

In [57]:
"Pescados" in "El el rio encontre nuevas especies de Pescados"

True

In [54]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [55]:
temperatures.find('Moon')

-1

In [45]:
temperatures.find('Mars')

64

In [46]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [47]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

In [79]:
temperatures = 'Mars Average Temperature: -60 C'

In [80]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [81]:
parts[-1]

' -60 C'

In [82]:
calor = "el clima de la playa es de: 32 C"

In [83]:
partes =calor.split(":")
partes

['el clima de la playa es de', ' 32 C']

In [84]:
partes [-1]

' 32 C'

In [85]:
mars_temperature = "The highest temperature on Mars is about 30 C"

In [86]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [88]:
continentes = "el continente asiático es el continente más grande de planeta con un aproximado del 30 por ciento y el 1.56 Millon  de toda el planeta"

In [91]:
continentes.upper()

'EL CONTINENTE ASIÁTICO ES EL CONTINENTE MÁS GRANDE DE PLANETA CON UN APROXIMADO DEL 30 POR CIENTO DE TODA EL PLANTA'

In [105]:
continentes.upper().find("plantea")

-1

In [106]:
for item in continentes.split():
    if item.isnumeric():
        print(item)

30

In [107]:
"-60".startswith("-")

True

In [ ]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

## Ejercicio 1

In [137]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight"""

In [138]:
text_divide = text.split(" ")
text_divide

['Interesting',
 'facts',
 'about',
 'the',
 'Moon.',
 'The',
 'Moon',
 'is',
 "Earth's",
 'only',
 'satellite.',
 'There',
 'are',
 'several',
 'interesting',
 'facts',
 'about',
 'the',
 'Moon',
 'and',
 'how',
 'it',
 'affects',
 'life',
 'here',
 'on',
 'Earth.',
 '\nOn',
 'average,',
 'the',
 'Moon',
 'moves',
 '4cm',
 'away',
 'from',
 'the',
 'Earth',
 'every',
 'year.',
 'This',
 'yearly',
 'drift',
 'is',
 'not',
 'significant',
 'enough',
 'to',
 'cause',
 'immediate',
 'effects',
 'on',
 'Earth.',
 'The',
 'highest',
 'daylight']

In [146]:
palabras_clave = ["average","temperature","distance"]

['average', 'temperature', 'distance']

In [147]:
for sentence in text_divide:
    for palabras_clave in text_divide:
        if palabras_clave in sentence:
            print(sentence.replace("C"," Celsius"))
            break

Interesting
facts
about
the
Moon.
The
Moon
is
Earth's
only
satellite.
There
are
several
interesting
facts
about
the
Moon
and
how
it
affects
life
here
on
Earth.

On
average,
the
Moon
moves
4cm
away
from
the
Earth
every
year.
This
yearly
drift
is
not
significant
enough
to
cause
immediate
effects
on
Earth.
The
highest
daylight

In [150]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [151]:
title = f'datos de gravedad sobre {nombre}'

In [152]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [153]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [ ]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

In [154]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [155]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [156]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2